:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);

    /* graphic design text */
    --dark-desaturated: hsl(167, 40%, 24%);
    /* photography text */
    --dark-blue: hsl(198, 62%, 26%);
    /* footer */
    --dark-moderate: hsl(168, 34%, 41%);

    /* Neutral */

    /* Very desaturated blue */
    --very-dark-desaturated: hsl(212, 27%, 19%);
    /* Very dark grayish blue */
    --very-dark-grayish: hsl(213, 9%, 39%);
    /* Dark grayish blue*/
    --dark-grayish: hsl(232, 10%, 55%);
    /* Grayish blue */
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
}

*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--white);
    color: var(--dark-desaturated);
    font-family: var(--barlow);
    font-size: 1.8rem;
    line-height: 1.5;
}

/* Globales */
h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
    margin: 0 0 2rem 0;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: var(--white);
}
li {
    list-style: none;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

/* Header */
header {
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 63rem;
    color: var(--white);
    position: relative;
    padding: 3rem;
}

@media (max-width: 375px) {
    header {
        background-image: url(/images/mobile/image-header.jpg);
    }
}

header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1rem;
}

.menu-open,
.menu-close {
    display: none;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}

/* logo */
.logo {
    font-weight: 600;
    font-size: 2.5rem;
}
/* Navegation */
.list {
    display: flex;
}

 @media (max-width: 375px) { 
    .list {
        flex-direction: column;
    }
} 

@media (max-width: 375px) {
    
    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        position: absolute;
        top: 0;
        left: 18rem;
        right: 0;
        bottom: 0;
        background-color: #0d6997;
        padding: 3rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);      
    }

    .nav-visible {
        opacity: 1;
        visibility: visible;
    }

    .menu-open {
        display: block;
        font-size: 3rem;
    }
    .menu-close {
        display: block;
        font-size: 3rem;
    }
}

.list li {
    margin-right: 4rem;
}

@media (max-width: 375px) { 
    .list li {
        margin: 1rem;
        text-align: right;
    }

}

.list a {
    font-size: 1.4rem;
    font-weight: normal;
}
@media (max-width: 375px) { 
    .list a {
        font-size: 1.5rem;
    }

}